.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  padding: 0 var(--spacing-sm);
  min-height: 56px !important;
  
  span {
    margin-left: var(--spacing-sm);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 600px) {
  mat-toolbar {
    padding: 0 var(--spacing-xs);
    
    span {
      font-size: 1.1rem;
    }
  }
}